
<br />
<h1 class="text-center">My Goals</h1>
<br /><br />

  <div class="row col-xs-4 col-xs-offset-4">
      <div class="col-xs-4">
         <%= link_to 'This Year', '#Year1', class: 'btn btn-info' %>
      </div>
      <div class="col-xs-4">
         <%= link_to 'Future Dreams', '#Dreams', class: 'btn btn-info' %>
      </div>
      <div class="col-xs-4">
         <%= link_to 'Past Goals', '#YearPast', class: 'btn btn-info' %>
      </div>
  </div>

<br /><br /><br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
<div class="progress col-xs-10 col-xs-offset-1">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
    This Year's Goals
  </div>
</div>

  <div id="Year1" class="row col-xs-10 col-xs-offset-1">
          <!-- Goals -->
        <% @goals.each do |goal| %>
          <% if goal.targetdate && goal.targetdate.between?(Date.today, Date.today + 1.year) %>
            <div class="col-xs-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title"><%= goal.humanized_category %></h3>
                </div>
                <div class="panel-body">

                         <h4><%= link_to goal.title, goal_path(goal) %></h4><br />
                          <%= goal.description %><br />
                          ---------------------------<br />
                          Target Date: <%= goal.targetdate %><br />
                          Finish Line: <%= goal.finishline %><br />
                          <hr />
                 </div>
              </div>
            </div>
            <% end %>
        <% end %>
  </div>

<div class="progress col-xs-10 col-xs-offset-1">
  <div class="progress-bar" role="progressbar2" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
    Future Goals (Beyond 1 Year)
  </div>
</div>

<div id="Dreams" class="row col-xs-10 col-xs-offset-1">
  <% @goals.each do |goal| %>
  <% if goal.targetdate && goal.targetdate > Date.today + 1.year %>
          <div class="col-xs-3">
            <div class="panel panel-default">
              <div class="panel-heading">
              <h3 class="panel-title"><%= goal.humanized_category %></h3>
              </div>
              <div class="panel-body">

                       <h4><%= link_to goal.title, goal_path(goal) %></h4><br />
                        <%= goal.description %><br />
                        ---------------------------<br />
                        Target Date: <%= goal.targetdate %><br />
                        Finish Line: <%= goal.finishline %><br />
                        <hr />
                  </div>
              </div>
            </div>
          <% end %>
  <% end %>
</div>

<div class="progress col-xs-10 col-xs-offset-1">
  <div class="progress-bar" role="progressbar2" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    Past Goals
  </div>
</div>

<div id="YearPast" class="row col-xs-10 col-xs-offset-1">
  <% @goals.each do |goal| %>
  <% if goal.targetdate && goal.targetdate < Date.today %>
          <div class="col-xs-3">
            <div class="panel panel-default">
              <div class="panel-heading">
              <h3 class="panel-title"><%= goal.humanized_category %></h3>
              </div>
              <div class="panel-body">

                       <h4><%= link_to goal.title, goal_path(goal) %></h4><br />
                        <%= goal.description %><br />
                        ---------------------------<br />
                        Target Date: <%= goal.targetdate %><br />
                        Finish Line: <%= goal.finishline %><br />
                        <hr />
                  </div>
              </div>
            </div>
      <% end %>
  <% end %>
</div>



</div>
