<br />
<div class="booyah-box col-xs-6 col-xs-offset-3">
  <h1> - NEW GOAL - </h1>
    <%= simple_form_for @goal, url: goals_path do |f| %>
    <%= f.input :category, as: :select, collection: Goal::CATEGORIES %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :targetdate %>
    <%= f.input :finishline %>

    <br />
    <%= f.submit "CREATE", class: 'btn btn-primary' %>
    <br />
  <% end %>
</div>



